# End of file type
* text eol=lf

# Text files
*.asm text
*.inc text

# Binary files
*.2bpp binary

# Linguist rules

# Assembly codes
*.inc linguist-language=Assembly

# ignore 2bpp files statistics
*.2bpp linguist-vendored